@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --primarydarkcyan: hsl(185, 75%, 39%);
    --primary-very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --primary-dark-grayish-blue: hsl(227, 10%, 46%);
    --neutral-dark-gray: hsl(0,0%,59%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    font-size: 18px; /* name and stats */
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: -10em -10em, 50em 18em;
    background-attachment: fixed;
    background-size: contain;
    min-height: 100vh;
    background-color: var(--primarydarkcyan);
    display:grid;
    justify-content: center;
    align-items: center;
}  
.container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.8fr 1fr 0.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "part-1"
      "part-2"
      "part-3"; 
      
      /* justify-content: center; */
      height: 370px;
      width: 340px;
      background-color: #fff;
      /* position: absolute;
      top:220px;
      left: 40rem; */

      border-radius: 1em;
      box-shadow: 10px 10px 47px 6px rgba(0,0,0,0.66);
-webkit-box-shadow: 10px 10px 47px 6px rgba(0,0,0,0.66);
-moz-box-shadow: 10px 10px 47px 6px rgba(0,0,0,0.66);
  }
  .part-1 { grid-area: part-1;
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: repeat;
    background-size: contain;
    border-radius: 1em 1em 0 0;
     } 
  .part-2 { grid-area: part-2;
    border-bottom: solid 2px hsl(0,0%,59%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.part-2 img{
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    top: 17.5rem;
}
.part-2 p{
    margin-top: 2rem;
    text-align: center;
    color: var(--neutral-dark-gray);
    line-height: 1.9;
}
  .part-3 { grid-area: part-3;
    display: grid;
    align-items: center;
    
    
}
.list{
    display: flex;
    justify-content: space-around;

    list-style: none;
    text-align: center;
}
.list li{
    font-size: 15px;
    color: var(--neutral-dark-gray);
    line-height: 1.4;
}
.list li span,.name{
    color: #000;
    font-weight: 900;
}
.number{
    font-weight: 900;
    color: var(--neutral-dark-gray);
}
@media screen and (max-width:375px){
    .part-2 img{
        top: 15rem;
    }
}